*{
    margin:0;
}
#navbar{
background:rgba(97, 15, 65, 0.774);
width:100%;
height:50px;
display:flex;
    justify-content: center;
    align-items: center;
}
.uls li {
    list-style: none;
}
.uls li a{
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.7em;
   color:white;
   text-shadow: 0 0 11px #FF0000, 0 0 13px #0000FF;
   
}
.uls{
    display:flex;
    justify-content: center;
    align-items: center;
}
   
.uls li a:hover{
    border-bottom:3px solid white;
    text-shadow: 0 0 20px #FF0000, 0 0 22px #0000FF;
}
body{
    background:url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-repeat:no-repeat ;
}
.heading{
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    color:white;
    margin:170px 500px;
    text-shadow: 0 0 11px #FF0000, 0 0 13px #0000FF;
}
.aboutpoetry{
    background:linear-gradient(#e226aa,#e225aa);
    color:white;
    text-align:center;
}
.aboutpoetry h2{
    padding:30px 0px;
    font-size:3rem;
    letter-spacing:2px;
    font-weight:900;
    text-shadow: 0 0 11px #6dd4ee, 0 0 13px #0000FF;
    
}
.aboutpoetry p{
font-weight:300;
font-size:1.5rem;
padding:70px;
text-shadow: 0 0 11px #6dd4ee, 0 0 13px #0000FF;
}
.div1{
    background:pink;
}
.timelineheading{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align:center;
}
.timelineheading h2{
    font-size:3rem;
    color:white;
    text-shadow: 0 0 11px #FF0000, 0 0 13px #0000FF;
}

.timeline ul{
    list-style:none;
    padding:50px 0;
}

.timeline li{
   position:relative;
    width:6px;
    margin: 0 auto;
    background:white;
    padding-top:50px;
}
.timeline ul li div{
    position:relative;
    bottom:0;
    width:400px;
    background:rgba(97, 15, 65, 0.774);
    padding:15px;
    border-radius: 10px;
}
.timeline ul li div a{
    text-decoration: none;
    color:white;
    font-size:25px;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #6dd4ee, 0 0 7px #0000FF;
}
.timeline ul li:nth-child(odd) div{
    left:50px;
    transform:translate3d(300px,0px,300px);
}
.timeline ul li:nth-child(even) div{
    left:-450px;
    transform: translate3d(-300px,0px,-300px);
}
.timeline ul li div{
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease-in-out;
}
.timeline ul li.in-view div{
    transform:none;
    visibility:visible;
    opacity:1;
}
.contact{
    background: linear-gradient(#700b2f,#96415f);
color:white;
font-size: 25px;
font-weight: 300;
line-height: 60px;
text-shadow: 0 0 5px #6dd4ee, 0 0 7px #0000FF;
}
@media screen and (max-width: 600px){
    #navbar{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .uls li a{
      font-size:20px;
      padding:10px;
    }
    body{
      background:url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
      background-repeat:no-repeat ;
  }
    .heading{
      font-size: 2rem;
      margin:170px 0;
  }
    .timeline ul li div{
      width:160px;
      background:rgba(176, 56, 130,0.774);
    }
    .timeline ul li div a{
        font-size: 18px;
    }
    .timeline ul li:nth-child(even) div{
      left:50px;
      transform:translate3d(-140px,0px,0px);
    }
    .timeline ul li:nth-child(odd) div{
      left:-450px;
      transform: translate3d(360px,0px,0px);
    }
   .timeline li{
     position:relative;
      width:6px;
      margin: 0 auto;
      background : pink;
      padding-top:50px;
  }
  }
  